.app {
  width: 600px;
  margin: 25px auto 75px auto;
  border: solid black 3px;
  background-color: yellow;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0px auto 0px auto;
}

.space {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: solid black 3px;
  margin: 5px;
  box-shadow: inset 3px 3px 5px black;
}

.turn {
  margin: 0px auto 0px auto;
}

.title {
  margin: 0px auto 0px auto;
}

.app {
  box-shadow: 3px 3px 20px black;
}
 