.app {
  width: 650px;
  margin: 25px auto 75px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.space {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: solid black 3px;
  margin: 5px;
}

.turn {
  margin: 0px auto 0px auto;
}

.title {
  margin: 0px auto 0px auto;
}
 