.current-turn {
  margin-left: 0.5%;
  font-size: xx-large;
  font-weight: 900;
  content: center;
}

.cell {
  display: flex;
  flex-basis: 32.5%;
  justify-content: space-around;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  background-color: #383838;
  font-size: 1100%;
  color: #1dcaff;
  border-radius: 50px;
  margin: 3px 3px 3px 3px;
}

.cell:hover { 
  filter: brightness(115%);
}

.grid {
  display: flex;                  
  flex-wrap: wrap;                 
  /* justify-content: space-around; */
}



.plays-made {
  margin-left: 0.5%;
  font-size: xx-large;
  font-weight: 900;
  content: center;
}
.winner {
  color: red;
}

.wins {
  /* display: flex;
  justify-content: space-around; */
  margin-left: 0.5%;
  font-size: xx-large;
  font-weight: 900;
  content: center;
}


